{% extends "layout.html.twig" %}

{% block content %}
    <li class="resource">
        <ul class="endpoints">
            <li class="endpoint">
                <ul class="operations">
                    {% include 'method.html.twig' %}
                </ul>
            </li>
        </ul>
    </li>
{% endblock content %}
